<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517070513230-b3q42uspjnrd55t0vt96of2c0h2qk3o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517070513230-b3q42uspjnrd55t0vt96of2c0h2qk3o8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517070513230-0o1slsqpt4besh4cf0k4c2i64nedgao3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANV2_P9tHhElNDEsjVmASqhw1ZpBL9nVY</string>
	<key>GCM_SENDER_ID</key>
	<string>517070513230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mou.business</string>
	<key>PROJECT_ID</key>
	<string>mouapp-3d466</string>
	<key>STORAGE_BUCKET</key>
	<string>mouapp-3d466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517070513230:ios:8aa7ec3abf78f19fd14f1f</string>
	<key>DATABASE_URL</key>
	<string>https://mouapp-3d466.firebaseio.com</string>
</dict>
</plist>